<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    name: '',
                    checked: false,
                    girls: [],
                }
            },
            template:
                `
                <input type="text" v-model="name"/>
                <div>{{ name }}</div>
                <div style="margin-top:15px;"><textarea v-model="name" /></div>
                <div>{{ checked }}<input type="checkebox" v-model="checked"/></div>
                <div>
                    {{girls}}
                    大脚<input type="checkbox" v-model="girls" value="大脚" />
                    刘英<input type="checkbox" v-model="girls" value="刘英" />
                    晓红<input type="checkbox" v-model="girls" value="晓红" />
                </div>
            `
        })

        const vm = app.mount("#app")
    </script>
</body>

</html>
